<div>
  <b>Username:</b> <span appOnHover> {{user.name}}</span><br>
  <b>Name:</b> <span appOnHover> {{user.login}}</span><br>
  <b>Bio:</b>  <span appOnHover> {{user.bio}}</span><br>
  <b>Followers:</b> <span appOnHover> {{user.followers}}</span><br>
  <b>Following:</b> <span appOnHover> {{user.following}}</span><br>
  <b>Number of public repositories:</b> <span appOnHover> {{user.public_repos}}</span><br>
  <b>Created at:</b> <span appOnHover> {{user.created_at | date}} ({{user.created_at | date | completeDate}} day(s) ago)</span>
</div>
