<head>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia">
  <link href='https://fonts.googleapis.com/css?family=IBM Plex Sans Condensed' rel='stylesheet'>
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-dark" style="background:#0099cc ;">
    <a class="navbar-brand"><b>GOALS APP</b></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" routerLink="goals" routerLinkActive='active'>Goals<span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" routerLink="/about" routerLinkActive='active'>About</a>
    </div>
  </div>
  </nav>
  <div class="main">
    <h1 class="text-white">GitIt</h1>
    <div class="row">
      <div class="col-md-1">

      </div>
      <div class="col-md-6" id="lj">
        <div id="mains" class="shadow-lg">
          <p>Welcome to <b>GitIt</b>.</p>
          <p>Search for people on Github and view their public repositories</p>
          <button type="button" class="btn btn-outline-dark btn-lg btn-block">Take me there</button>
        </div>
      </div>
    </div>
    <div id="kk" class="rounded shadow-lg text-center">
      <p><em>View my personal account and repositories below</em></p>
      <img src="/assets/below.svg">
    </div>
    <div class="text-white">.</div>
  </div>
  <div class="container">
    How is everything? <br>.<br>.<br>.<br>.<br>.<br>.<br>.<br>.<br>..<br>.<br>.<br>.<br>.<br>.<br>.<br>.<br>.<br>.<br>.<br>.<br>
  </div>
</body>

