.main{
  background-image: url(/assets/space-3262811_1920.jpg);
  background-repeat: no-repeat;
  background-size: 100% 101%;
  background-position: center;
  position: relative;
}

h1{
  text-align: center;
  font-family: "Sofia";
  font-size: 75px;
}

#mains{
  backdrop-filter: blur(10px);
  padding: 5%;
  margin-top: 3%;
}


#lj{
  font-family: 'IBM Plex Sans Condensed';
  font-size: 35px;
  margin-left: 7%;
  margin-right: 40%;
}

#kk{
  font-family: 'IBM Plex Sans Condensed';
  font-size: 25px;
  font-weight: bold;
  padding: 1%;
  margin-top: 1%;
  margin-left: 12%;
  margin-right: 53%;
  margin-bottom: 2%;
  backdrop-filter: opacity(.4);
  
}

body{
  background-color: #e6f2ff
  ;
}

#kv{
  padding: 2%;
  font-family: 'IBM Plex Sans Condensed';
  font-size: 22px;
  margin-bottom: 1%;
}

#hu{
  font-family: 'Aldrich';
  font-size: 25px;
}