<head>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia">
  <link href='https://fonts.googleapis.com/css?family=IBM Plex Sans Condensed' rel='stylesheet'>
  <link href='https://fonts.googleapis.com/css?family=Aldrich' rel='stylesheet'>
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-dark" style="background:#0099cc ;">
    <a class="navbar-brand"><img src="/assets/git.svg" width="30" height="30" class="d-inline-block align-top" alt=""><b> GitIt</b></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link active" routerLink="landing" routerLinkActive='active'>Home<span class="sr-only">(current)</span></a>
        <a class="nav-item nav-link" routerLink="/search" routerLinkActive='active'>Search</a>
      </div>
    </div>
  </nav>
  <div class="main">
    <h1 class="text-white">GitIt</h1>
    <div id="lj">
      <div id="mains" class="shadow-lg">
        <p>Welcome to <b>GitIt</b>.</p>
        <p>Search for people on Github and view their public repositories</p>
        <button type="button" class="btn btn-outline-dark btn-lg btn-block" routerLink="/search">Take me there</button>
      </div>
    </div>
    <div id="kk" class="rounded shadow-lg text-center ">
      <p><em>View my personal account and repositories below</em></p>
      <img src="/assets/below.svg">
    </div>
    <div class="text-white">.</div>
  </div>
  <div class="container border border-info" id="kv">
    <div class="text-center" id="hu">My Profile</div>
    <hr width="80%">
    <div class="row">
      <div class="col-md-3">
        <img src="{{user.avatar_url}}" class="rounded-circle img-responsive" width="240" height="250">
      </div>
      <div class="col-md-5">
        <b>Username:</b> <span appOnHover> {{user.name}}</span><br>
        <b>Name:</b> <span appOnHover> {{user.login}}</span><br>
        <b>Bio:</b>  <span appOnHover> {{user.bio}}</span><br>
        <b>Followers:</b> <span appOnHover> {{user.followers}}</span><br>
        <b>Following:</b> <span appOnHover> {{user.following}}</span><br>
        <b>Number of public repositories:</b> <span appOnHover> {{user.public_repos}}</span><br>
        <b>Created at:</b> <span appOnHover> {{user.created_at | date}} ({{user.created_at | date | completeDate}} day(s) ago)</span>
      </div>
      <div class="col-md-4">
        <div *ngFor="let repo of repo">
          {{repo.full_name}}
        </div>
      </div>
    </div>
  </div>
  <div class="text-white">.</div>
  
</body>


